<% include ../partials/header %>
<div class="row">
<div class='container'>
	<h1 style="text-align: center;"> Add Comment</h1>
	<div style="width:30%; margin:25px auto;">
		<form action="/places/<%=campground%>/comments/<%=comment._id%>?_method=PUT" method="POST">
			<div>
		     	<fieldset class="starability-grow">
		        <input type="radio" id="grow-rate1" name="rating" value="1" checked="" onclick="myFunction(this.value)" />
		        <label for="grow-rate1" title="Terrible" >1 star</label>

		        <input type="radio" id="grow-rate2" name="rating" value="2" checked="" onclick="myFunction(this.value)"/>
		        <label for="grow-rate2" title="Not good">2 stars</label>

		        <input type="radio" id="grow-rate3" name="rating" value="3" checked="" onclick="myFunction(this.value)"/>
		        <label for="grow-rate3" title="Average">3 stars</label>

		        <input type="radio" id="grow-rate4" name="rating" value="4" checked="" onclick="myFunction(this.value)"/>
		        <label for="grow-rate4" title="Very good">4 stars</label>

		        <input type="radio" id="grow-rate5" name="rating" value="5" checked="" onclick="myFunction(this.value)"/>
		        <label for="grow-rate5" title="Amazing">5 stars</label>
				</fieldset>
	    	</div>
    		<div>
    			<input type="hidden" id="ratingans" name="comment[rating]">
    		</div>
			<script>
				function myFunction(myValue) {
					document.getElementById("ratingans").value = myValue;	
				}
				document.getElementById("grow-rate<%=comment.rating%>").checked="checked";
			</script>
		<div class="form-group">
			<input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
		</div>
		<div class = "form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
		</form>
		<a href="/places/<%=campground%>">Go Back</a>
	</div>
</div>
</div>
<% include ../partials/footer %>