<% include ../partials/header %>
<div class="row">
<div class='container'>
	<h1 style="text-align: center;"> Edit Places</h1>
	<div style="width:30%; margin:25px auto;">
		<form action="/places/<%=camp._id%>?_method=PUT" method="POST">
		<div class="form-group">
			<input class="form-control" type="text" name="camp[name]" value="<%=camp.name%>">
		</div>
			<input type="hidden" name="camp[latitude]" id="latitude" value="<%=camp.latitude%>">
			<input type="hidden" name="camp[longitude]" id="longitude" value="<%=camp.longitude%>">
		<div class="form-group">
			<textarea rows="6" class="form-control" name="camp[details]"><%=camp.details%></textarea>
		</div>
		<div>
			<style>
		       	#map {
		        height: 400px;
		        width: 100%;
		       	}
		    </style>
			<script async defer
		    	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCrDFDqmbefeEWWQdD0l2kSPG8XD9yPOSk&callback=initMap">
		    </script>
	    	<div id = "map"></div>
			<script>
				function initMap() {

					var myLatlng = {
				    	lat: <%=camp.latitude%>,
				    	lng: <%=camp.longitude%>
				  	};

				  	var map = new google.maps.Map(document.getElementById('map'), {
				    	zoom: 12,
				    	center: myLatlng
				  	});

				  	var marker = new google.maps.Marker({
				  		position: myLatlng,
				  		map:map,
				  		title: '<%=camp.name%>'
				  	})

				  	map.addListener('mousemove', function(event) {
				  		displayCoordinates(event.latLng);
					});

					function displayCoordinates(pnt) {
					 	latt = pnt.lat();
					 	//lat = lat.toFixed(4);
					 	lngg = pnt.lng();
					 	//lng = lng.toFixed(4);
					 	console.log("Latitude: " + latt + "  Longitude: " + lngg);

					 	map.addListener('click', function() {
					    	var parker = new google.maps.Marker({
						      	position: {lat:latt,lng:lngg},
						      	map: map,
						      	title: 'new place'
					    	});
					    var latitude = document.getElementById("latitude");
					    	latitude.value = latt;
					    var longitude = document.getElementById("longitude");
					    	longitude.value = lngg;
				  		});
					}
				}
	    	</script>
		</div>
		<div class = "form-group">
			<button class="btn btn-lg btn-primary btn-block">Submit</button>
		</div>
		</form>
		<a href="/places/<%=camp._id%>">Go Back</a>
	</div>
</div>
</div>
<% include ../partials/footer %>


